<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
	<head>
		<meta charset="ISO-8859-1">
		<title th:text="${title}"></title>
	</head>
	<body>
		<h1>Descripcion Vacante</h1>
		<div>
			<h4 th:text="'Vacante: ' + ${vacante.nombre}"></h4>
			<h4 th:text="'Descripcion: ' + ${vacante.descripcion}"></h4>
			<h4 th:text="'Publicado: ' + ${vacante.fecha}"></h4>
			<h4 th:text="'Status Vacante: ' + ${vacante.status}"></h4>
			<h4 th:text="'Salario $: ' + ${vacante.salario}"></h4>
		</div>
	</body>
</html>